/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

#nprogress .bar {
  height : 4px !important; 
  background : #005db4 !important ; 

}

#nprogress .spinner-icon {
  border-top-color: #005db4 !important; /* Change this to your preferred color */
  border-left-color: #005db4 !important; /* Change this to your preferred color */
}

#nprogress .peg {
  box-shadow: 0 0 10px #005db4, 0 0 5px #005db4 !important; /* Change the shadow color */
}